/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

html,
body {
  overflow-x: hidden;
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.label-value-grid-container {
  display: grid;
  grid-template-columns: 10rem 1fr;
  gap: 10px;
  justify-content: start;
}

.page-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.page-content {
  margin-top: 2rem;
}
